@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "用户";
}


<h1>系统中的用户</h1>

<p>
    <a asp-action="EditUser">新建用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.OrganizationId)</th>
            <th>@Html.DisplayNameFor(model => model.Login)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>@Html.DisplayNameFor(model => model.ActiveStatus)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>item.UserName)</td>
                <td>
                    <select asp-for="@item.OrganizationId" asp-items="@ViewBag.OrgList" 
                            class="form-control form-control-sm" disabled>
                        <option value="">(尚未设置)</option>
                    </select>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Login)</td>
                <td>@Html.DisplayFor(m=>item.Role)</td>
                <td>@Html.DisplayFor(m=>item.ActiveStatus)</td>
                <td>
                    @Html.ActionLink("编辑", "EditUser", new { id = item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>

