@model Cnf.Finance.Web.Models.MonthPerformViewModel

@{
    ViewData["Title"] = "月报";

    string sumCaption = Model.Month == 1 ? "——" : string.Format("{0}年初~{1}月", Model.Year, Model.Month - 1);
}

<div class="card">
    <div class="card-header text-center">
        <a asp-action="Index" class="small float-left">返回</a>
        <h5>
            @(Model.Year)年 @(Model.Month) 月 两金指标完成月报
        </h5>
    </div>
    <div class="card-body">
        @if(!string.IsNullOrWhiteSpace(ViewBag.Message))
        {
            <div class="alert alert-info small">@ViewBag.Message</div>
        }
        <div class="form-group row mb-0">
            <label asp-for="ProjectName" class="col-form-label col-form-label-sm col-2"></label>
            <div class="col-10">
                <input asp-for="ProjectName" class="form-control-plaintext form-control-sm" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProjectIncoming" class="col-form-label col-form-label-sm col-2"></label>
            <div class="col-4">
                <input asp-for="ProjectIncoming" class="form-control-plaintext form-control-sm" />
            </div>
            <label asp-for="EstimatingProfit" class="col-form-label col-form-label-sm col-2"></label>
            <div class="col-4">
                <input asp-for="EstimatingProfit" class="form-control-plaintext form-control-sm" />
            </div>
        </div>
        <div class="card-group">
            <div class="card col-5 p-0">
                <div class="card-body p-0">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(m => m.ProjectId)
                        @Html.HiddenFor(m => m.Year)
                        @Html.HiddenFor(m => m.Month)
                        <table class="table table-sm table-bordered text-center small">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">指标</th>
                                    <th>收入(万元)</th>
                                    <th>结算(万元)</th>
                                    <th>回款(万元)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">上年结转</td>
                                    <td>@Html.DisplayFor(m => m.IncomingBalance)</td>
                                    <td>@Html.DisplayFor(m => m.SettlementBalance)</td>
                                    <td>@Html.DisplayFor(m => m.RetrievableBalance)</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="align-middle text-nowrap">@sumCaption</td>
                                    <td class="text-nowrap">计划</td>
                                    <td>@Html.DisplayFor(m => m.TotalPlanIncoming)</td>
                                    <td>@Html.DisplayFor(m => m.TotalPlanSettlement)</td>
                                    <td>@Html.DisplayFor(m => m.TotalPlanRetrievable)</td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap">实际</td>
                                    <td>@Html.DisplayFor(m => m.TotalIncoming)</td>
                                    <td>@Html.DisplayFor(m => m.TotalSettlement)</td>
                                    <td>@Html.DisplayFor(m => m.TotalRetrievalbe)</td>
                                </tr>
                                <tr class="bg-info text-white">
                                    <td rowspan="2" class="align-middle text-nowrap">@(Model.Year)年@(Model.Month)月</td>
                                    <td class="text-nowrap">计划</td>
                                    <td>@Html.DisplayFor(m => m.PlanData.Incoming)</td>
                                    <td>@Html.DisplayFor(m => m.PlanData.Settlement)</td>
                                    <td>@Html.DisplayFor(m => m.PlanData.Retrievable)</td>
                                </tr>
                                <tr class="bg-info text-white">
                                    <td class="text-nowrap">实际</td>
                                    <td class="p-1">
                                        <input asp-for="PerformData.Incoming" class="form-control form-control-sm" style="height:25px;"
                                               placeholder="请输入..." />
                                        <span asp-validation-for="PerformData.Incoming" class="text-danger small"></span>
                                    </td>
                                    <td class="p-1">
                                        <input asp-for="PerformData.Settlement" class="form-control form-control-sm" style="height:25px;"
                                               placeholder="请输入..." />
                                        <span asp-validation-for="PerformData.Settlement" class="text-danger small"></span>
                                    </td>
                                    <td class="p-1">
                                        <input asp-for="PerformData.Retrievable" class="form-control form-control-sm" style="height:25px;"
                                               placeholder="请输入..." />
                                        <span asp-validation-for="PerformData.Retrievable" class="text-danger small"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group offset-4">
                            <button asp-action="SavePerform" class="btn btn-sm btn-primary">保存月报数据</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card col-7 p-0">
                <div class="card-header bg-info text-white p-1 text-center">
                    依据及任务
                </div>
                <div class="card-body p-0">
                    <div class="d-flex border-bottom p-2">
                        <div class="mr-2 small text-info">
                            计<br />划
                        </div>
                        <div>
                            @if (Model.PlanTerms == null || Model.PlanTerms.Count() == 0)
                            {
                                <p class="text-muted">该月份没有计划任务</p>
                            }
                            else
                            {
                                <table class="table table-sm small table-bordered">
                                    <thead>
                                        <tr class="text-nowrap">
                                            <th>类型</th>
                                            <th>条款</th>
                                            <th>日期</th>
                                            <th>金额</th>
                                            <th>任务摘要</th>
                                            <th>执行</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var task in Model.PlanTerms)
                                        {
                                            <tr>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TermsCategory)</td>
                                                <td>@Html.DisplayFor(m => task.Provision)</td>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TargetDate)</td>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TargetAmount)</td>
                                                <td>@Html.DisplayFor(m => task.Comments)</td>
                                                <td>
                                                    <a href="#" style="text-decoration:none; white-space:nowrap;"
                                                       data-terms-id="@task.TermsId" data-plan-comments="@task.Comments"
                                                       onclick="performPlan(this); return false;">Do&raquo;</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                    <div class="d-flex border-top mt-2 p-2">
                        <div class="mr-2 small text-danger">
                            实<br />际
                        </div>
                        <div>
                            @if (Model.PerformTerms == null || Model.PerformTerms.Count() == 0)
                            {
                                <p class="text-muted">该月份没有已经执行的任务</p>
                            }
                            else
                            {
                                <table class="table table-sm small table-bordered">
                                    <thead>
                                        <tr class="text-nowrap">
                                            <th>类型</th>
                                            <th>条款</th>
                                            <th>日期</th>
                                            <th>金额</th>
                                            <th>完成情况摘要</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var task in Model.PerformTerms)
                                        {
                                            <tr>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TermsCategory)</td>
                                                <td>@Html.DisplayFor(m => task.Provision)</td>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TargetDate)</td>
                                                <td class="text-nowrap">@Html.DisplayFor(m => task.TargetAmount)</td>
                                                <td data-field="comments">@Html.DisplayFor(m => task.Comments)</td>
                                                <td>
                                                    <a href="#" style="text-decoration:none; white-space:nowrap;" 
                                                        onclick="if (editPerformItem(this) == false) {
                                                           alert('无法修订此完成情况条目');
                                                           return false;
                                                        }"
                                                        data-item-id="@task.Id" data-terms-id="@task.TermsId">修订</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" type="button"
                                        onclick="if (createPerformItem() == false) {
                                            alert('此项目没有录入任何可用的结算付款条件。');
                                            return false;
                                        }">
                                    添加完成情况条目
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Model Edit Tasks -->
<form method="post">
    <div class="modal fade" id="dlgEditTask" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="完成情况条目编辑" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingTaskTitle">完成情况</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.ProjectId)
                    @Html.HiddenFor(m => m.Year)
                    @Html.HiddenFor(m => m.Month)
                    @Html.HiddenFor(m => m.PerformId)
                    @Html.HiddenFor(m => m.EditingItemId, new { data_editing_itemid = "true" })
                    @Html.HiddenFor(m => m.SelectedTermsId, new { data_editing_selectedtermsid = "true" })
                    <div class="alert alert-light small p-0 mb-2" id="promptMessage">

                    </div>
                    <span id="selectedTermsIdValidator" class="text-danger small">必须从下表中选择一项合同条款作为依据</span>
                    <table class="table table-sm table-bordered table-hover small">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>类型</th>
                                <th>触发日期</th>
                                <th>涉及金额(万)</th>
                                <th>合同条款</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in Model.Terms)
                            {
                                <tr title="@t.Remarks" onclick="clickTermsRow(this);">
                                    <td>
                                        <input type="radio" name="editingtermsid" onclick="clickTermsRadio(this);"
                                               data-editing-termsid="@t.TermsId" />
                                    </td>
                                    <td>@Html.DisplayFor(m => t.Category)</td>
                                    <td>@Html.DisplayFor(m => t.OnDate)</td>
                                    <td>@Html.DisplayFor(m => t.Amount)</td>
                                    <td>@Html.DisplayFor(m => t.Provision)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label asp-for="EditingComments"></label>
                        <textarea asp-for="EditingComments" class="form-control form-control-sm"
                                  data-editing-item="true" rows="3" placeholder="请输入当月完成情况的摘要说明"></textarea>
                        <span asp-validation-for="EditingComments" class="text-danger small"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button asp-action="SavePerformItem" class="btn btn-primary"
                            onclick="if (checkSelectedTerms() == false) return false;">
                        保存条目
                    </button>
                    <button asp-action="DeletePerformItem" class="btn btn-danger" data-editing-delete="true"
                            onclick="if (confirm('删除条目不可恢复，确实要删除吗?') == false) return false;">
                        删除
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    function performPlan(source) {
        if (isPerformSaved() == false) {
            alert("必须首先输入指标完成值并点击保存按钮成功后才能录入工作条目");
        }
        else {
            $("#selectedTermsIdValidator").hide();
            $("#editingTaskTitle").text("根据计划填写完成情况");
            $("#promptMessage").html("计划任务摘要已复制到完成情况，请根据实际修改后点击<保存条目>");
            $("input[data-editing-itemid='true']").val('');    //属于新建条目，没有正在编辑的任务的主键
            var termsId = $(source).data("terms-id");
            var planComments = $(source).data("plan-comments");
            $("input[data-editing-selectedtermsid='true']").val(termsId); //选中的合同条款，如果点击了收音机按钮，需要根据选择重置
            $("input[name='editingtermsid'][data-editing-termsid='" + termsId + "']").prop("checked", true);  //根据计划任务中选择的合同条款设置默认选中的条款
            $("textarea[data-editing-item='true']").val(planComments);
            $("button[data-editing-delete='true']").hide();  //添加新条目，不显示删除按钮

            $('#dlgEditTask').modal('show');
        }
    }

    function createPerformItem() {
        if (isPerformSaved() == false) {
            alert("必须首先输入指标完成值并点击保存按钮成功后才能录入工作条目");
            return false;
        }
        var termsCount = @Model.Terms.Count().ToString();
        if (termsCount == '0')
            return false;

        $("#selectedTermsIdValidator").hide();
        $("#editingTaskTitle").text("添加完成情况");
        $("#promptMessage").html("请选择行动依据的合同条款，填写完成情况后点击<保存条目>");
        $("input[data-editing-itemid='true']").val('');  //新建条目。
        $("input[data-editing-selectedtermsid='true']").val('');  //没有默认的选择
        $("input[name='editingtermsid']").prop("checked", false); //不选择任何收音机按钮
        $("textarea[data-editing-item='true']").val('');
        $("button[data-editing-delete='true']").hide();

        $("#dlgEditTask").modal('show');
        return true;
    }

    function editPerformItem(source) {
        var termsCount = @Model.Terms.Count().ToString();
        if (termsCount == '0')
            return false;
        var id = $(source).data("item-id");
        var termsId = $(source).data("terms-id");
        var comments = $(source).parents("tr").find("td[data-field='comments']").text();
        $("#selectedTermsIdValidator").hide();
        $("#editingTaskTitle").text("修订完成情况");
        $("#promptMessage").html("请选择行动依据的合同条款，填写完成情况后点击<保存条目>");
        $("input[data-editing-itemid='true']").val(id);
        $("input[data-editing-selectedtermsid='true']").val(termsId);
        $("input[name='editingtermsid'][data-editing-termsid='" + termsId + "']").prop("checked", true);
        $("textarea[data-editing-item='true']").val(comments);
        $("button[data-editing-delete='true']").show();

        $("#dlgEditTask").modal('show');
        return true;
    }

    function isPerformSaved() {
        var result;
            @{
                if(Model.PerformId.HasValue && Model.PerformId > 0)
                {
                    @: result = true;
                }
                else
                {
                    @: result = false;
                }
            }
        return result;
    }

    function clickTermsRow(tr) {
        var radio = $(tr).find("input[type='radio']");
        $("input[name='editingtermsid']").prop("checked", false);
        radio.prop("checked", true);
        clickTermsRadio(radio[0]);
    }

    function clickTermsRadio(radio) {
        $("input[data-editing-selectedtermsid='true']").val($(radio).data("editing-termsid"));
    }

    function checkSelectedTerms() {
        var selectedTermsId = $("input[data-editing-selectedtermsid='true']").val();
        if (selectedTermsId == undefined || selectedTermsId == null || selectedTermsId == '') {
            $("#selectedTermsIdValidator").show();
            return false;
        }
        else {
            $("#selectedTermsIdValidator").hide();
            return true;
        }
    }

</script>
}