@model ProjectYearViewModel

@{
    ViewData["Title"] = "月报";
    Func<int, bool> needReport = (month) =>
            Model.Year < DateTime.Today.Year ? true
            : Model.Year > DateTime.Today.Year ? false
            : month < DateTime.Today.Month;
    var allowAllOrgs = Helper.AllowAllOrgs(Context, out var allowedOrgId);
}

<h1 class="text-center">两金压降月报（单位：万元）</h1>
<p class="text-center text-muted small">
    每月填写每个项目两金压降相关指标的实际完成情况，点击“填报”链接填写当月数据
</p>
<div class="container-fluid row mb-2">
    <form method="post" asp-antiforgery="true" class="form-inline small">
        <div class="form-group mr-2">
            <label asp-for="Year" class="control-label mr-2"></label>
            <select asp-for="Year" asp-items="@ViewBag.YearList" class="form-control form-control-sm"></select>
        </div>
        <div class="form-group mr-2">
            <label asp-for="SelectedOrgId" class="control-label mr-2"></label>
            <select asp-for="SelectedOrgId" asp-items="@ViewBag.OrgList" class="form-control form-control-sm">
                @if (allowAllOrgs)
                {
                    <option value="">-=全部=-</option>
                }
            </select>
        </div>
        <div class="form-group mr-2">
            <label asp-for="SearchName" class="control-label mr-2"></label>
            <input asp-for="SearchName" placeholder="模糊查询..." class="form-control form-control-sm" />
        </div>
        <div class="form-group form-check mr-2">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IncludeInActive" />
                @Html.DisplayNameFor(model => model.IncludeInActive)
            </label>
        </div>
        <div class="form-group">
            <button asp-action="Index" class="btn btn-sm btn-success">筛选</button>
        </div>
    </form>
</div>
@if (Model.ProjectRowsDic == null || Model.ProjectRowsDic.Count == 0)
{
    <div class="alert alert-warning">
        没有满足条件的项目需要显示，请修改筛选条件或者在项目管理页面中添加新项目
    </div>
}
else
{
    <table class="table table-sm table-bordered table-striped small text-center">
        <thead class="thead-dark">
            <tr>
                <th rowspan="1" colspan="2">@Html.DisplayNameFor(m => m.ProjectRowsDic[0].ProjectName)</th>
                @for (var month = 1; month < 13; month++)
                {
                    <th colspan="1">@string.Format("{0:0000}-{1:00}", Model.Year, month)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in Model.ProjectRowsDic.Values)
            {
                <tr>
                    <td rowspan="3" class="text-nowrap">
                        @Html.DisplayFor(m => proj.ProjectName)<br />
                        @if (proj.HasProblem)
                        {
                            <span class="badge badge-danger">涉诉</span>
                        }
                        <span class='badge @(proj.ProjectStatus switch{
                                       ProjectStatus.Processing=> "badge-success",
                                       ProjectStatus.WaitForSettle => "badge-info",
                                       ProjectStatus.SettleCompleted => "badge-warning",
                                       ProjectStatus.Stopped => "badge-danger",
                                       _ => "badge-primary",
                                   })'>@Html.DisplayFor(m => proj.ProjectStatus)</span>
                            </td>
                    <td class="text-nowrap">收入</td>
                    @for (var month = 1; month < 13; month++)
                    {
                        var monthData = proj.MonthDataDic[month];
                        if (monthData == null)
                        {
                            //no perform on this month, the <td> spans 3 rows
                            if (needReport(month))
                            {
                                //need perform data but hasn't
                                <td rowspan="3" class="text-nowrap align-middle">
                                    <a asp-action="Edit" asp-route-projectId="@proj.ProjectId" asp-route-year="@Model.Year"
                                       asp-route-month="@month">填报</a>
                                </td>
                            }
                            else
                            {
                                //han't perform data but needn't
                                <td rowspan="3" class="text-nowrap"></td>
                            }
                        }
                        else
                        {
                            //has perform data, <td> is a single row
                            <td class="text-nowrap">
                                <a asp-action="Edit" asp-route-projectId="@proj.ProjectId" asp-route-year="@Model.Year"
                                   asp-route-month="@month">
                                    @Html.DisplayFor(m => monthData.Incoming)
                                </a>
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td class="text-nowrap">结算</td>
                    @for (var month = 1; month < 13; month++)
                    {
                        //if there is no perform on this month, needn't <td> more, it was spnned over
                        var monthData = proj.MonthDataDic[month];
                        if (monthData != null)
                        {
                            <td class="text-nowrap">
                                <a asp-action="Edit" asp-route-projectId="@proj.ProjectId" asp-route-year="@Model.Year"
                                   asp-route-month="@month">
                                    @Html.DisplayFor(m => monthData.Settlement)
                                </a>
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td class="text-nowrap">回款</td>
                    @for (var month = 1; month < 13; month++)
                    {
                        //if there is no perform on this month, needn't <td> more, it was spnned over
                        var monthData = proj.MonthDataDic[month];
                        if (monthData != null)
                        {

                            <td class="text-nowrap">
                                <a asp-action="Edit" asp-route-projectId="@proj.ProjectId" asp-route-year="@Model.Year"
                                   asp-route-month="@month">
                                    @Html.DisplayFor(m => monthData.Retievable)
                                </a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("div.container").attr("class", "container-fluid");
        })
    </script>
}