@model YearGroupReportViewModel

@{
    ViewData["Title"] = "分析报告";

    var message = Model.Hirarchy switch
    {
        GroupHirarchy.Organization => "点击单位名称可以穿透检查该单位的两金压降情况",
        GroupHirarchy.Project => "单位:" + Model.GroupName + "中的项目两金压降情况",
        _ => "尚未定义的层级"
    };

    var groupCaption = Model.Hirarchy switch
    {
        GroupHirarchy.Organization => "单位名称",
        GroupHirarchy.Project => "项目名称",
        _ => "尚未定义的层级"
    };

    var total = new Cnf.Finance.Entity.YearGroupRecord();
    total.AnnualBalance = new Cnf.Finance.Entity.YearReportBalance();
    total.Accumulation = new Cnf.Finance.Entity.ReportItem();
    total.CurrentMonth = new Cnf.Finance.Entity.ReportItem();

    var lastStorageTotal = 0M;
    var lastRetrievableTotal = 0M;
    var currentPlanStorageTotal = default(decimal?);
    var currentPlanRetrievableTotal = default(decimal?);
    var currentPerformStorageTotal = default(decimal?);
    var currentPerformRetrievableTotal = default(decimal?);
    var balancePlanStorageTotal = default(decimal?);
    var balancePlanRetrievableTotal = default(decimal?);
    var balancePerformStorageTotal = default(decimal?);
    var balancePerformRetrievableTotal = default(decimal?);
}

<h4 class="text-center">
    两金压降情况表（单位：万元）
    @switch (Model.Hirarchy)
    {
        case GroupHirarchy.Organization:
            break;
        case GroupHirarchy.Project:
            <a asp-action="YearGroupReport" asp-controller="Analysis" class="float-left" style="font-size:small;"
               asp-all-route-data='new Dictionary<string, string> {
                {"year", Model.Year.ToString() },
                {"month", Model.Month.ToString() }
            }'>返回上级</a>
            break;
        default:
            break;
    }

</h4>
<p class="text-center text-muted small">@message</p>

<div class="container-fluid row mb-2">
    <form method="post" asp-antiforgery="true" class="form-inline small col-6">
        @Html.HiddenFor(m => m.GroupId)
        <div class="form-group mr-2">
            <label asp-for="Year" class="control-label mr-2"></label>
            <select asp-for="Year" asp-items="@ViewBag.YearList" class="form-control form-control-sm"></select>
        </div>
        <div class="form-group mr-2">
            <label asp-for="Month" class="control-label mr-2"></label>
            <select asp-for="Month" asp-items="@ViewBag.MonthList" class="form-control form-control-sm"></select>
        </div>
        <div class="form-group">
            <button asp-action="YearGroupReport" class="btn btn-sm btn-success">筛选</button>
        </div>
    </form>
    <div class="col-6 small text-info pr-0">
        <span class="float-right">说明：每组数据上面一行为计划数，下面一行为完成数</span>
    </div>
</div>
<table class="table table-sm table-bordered text-right small">
    <thead class="thead-dark">
        <tr>
            <th class="border-light" rowspan="2">@groupCaption</th>
            <th class="border-light" colspan="6">上年结转（万元）</th>
            <th class="border-light" colspan="6">当年累计（万元）</th>
            <th class="border-light" colspan="6">当期余额（万元）</th>
            <th class="border-light" colspan="4">月份：@(string.Format("{0:0000}-{1:00}", Model.Year, Model.Month))（万元）</th>
        </tr>
        <tr>
            <th class="border-light">收入<br />A</th>
            <th class="border-light">结算<br />B</th>
            <th class="border-light">税金<br />C</th>
            <th class="border-light">回款<br />D</th>
            <th class="border-light">存货<br />E=<br />A-B</th>
            <th class="border-light">应收<br />F=<br />B+C-D</th>
            <th class="border-light">收入<br />G</th>
            <th class="border-light">结算<br />H</th>
            <th class="border-light">税金<br />I</th>
            <th class="border-light">回款<br />J</th>
            <th class="border-light">存货<br />K=<br />G-H</th>
            <th class="border-light">应收<br />L=<br />H+I-J</th>
            <th class="border-light">收入<br />M=<br />A+G</th>
            <th class="border-light">结算<br />N=<br />B+H</th>
            <th class="border-light">税金<br />O=<br />C+I</th>
            <th class="border-light">回款<br />P=<br />D+J</th>
            <th class="border-light">存货<br />Q=<br />E+K</th>
            <th class="border-light">应收<br />R=<br />F+L</th>
            <th class="border-light">收入<br />S</th>
            <th class="border-light">结算<br />T</th>
            <th class="border-light">税金<br />U</th>
            <th class="border-light">回款<br />V</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.GroupRecord)
        {
            total.Add(record);
            var lastStorage = record.AnnualBalance.Incoming - record.AnnualBalance.Settlement;  //本行：上年结转：存货
            lastStorageTotal += lastStorage;   //合计：上年结转：存货
            var lastRecievable = record.AnnualBalance.Settlement + record.AnnualBalance.Tax - record.AnnualBalance.Retrievable; //本行：上年结转：应收
            lastRetrievableTotal += lastRecievable;  //合计：上年结转：应收
            var currentPlanStorage = record.Accumulation.Plan.Incoming.SubstractNullableDecimal(record.Accumulation.Plan.Settlement); //本行：累加：计划：存货
            currentPlanStorageTotal = currentPlanStorageTotal.AddNullableDecimal(currentPlanStorage); //合计：累加：计划：存货
            var currentPlanRecievable = record.Accumulation.Plan.Settlement.AddNullableDecimal(record.Accumulation.Plan.Tax)
                                            .SubstractNullableDecimal(record.Accumulation.Plan.Retrievable); //本行：累加：计划：应收
            currentPlanRetrievableTotal = currentPlanRetrievableTotal.AddNullableDecimal(currentPlanRecievable);  //合计：累加：计划：应收
            var planStorageBalance = lastStorage.AddNullableDecimal(currentPlanStorage);  //本行：余额：计划：存货
            balancePlanStorageTotal = balancePlanStorageTotal.AddNullableDecimal(planStorageBalance);  //合计：余额：计划：存货
            var planRecievableBalance = lastRecievable.AddNullableDecimal(currentPlanRecievable); //本行：余额：计划：应收
            balancePlanRetrievableTotal = balancePlanRetrievableTotal.AddNullableDecimal(planRecievableBalance);  //合计：余额：计划：应收
            var currentPerformStorage = record.Accumulation.Perform.Incoming.SubstractNullableDecimal(record.Accumulation.Perform.Settlement); //本行：累加：完成：存货
            currentPerformStorageTotal = currentPerformStorageTotal.AddNullableDecimal(currentPerformStorage);  //合计：累加：完成：存货
            var currentPerformRecievable = record.Accumulation.Perform.Settlement.AddNullableDecimal(record.Accumulation.Perform.Tax)
                                            .SubstractNullableDecimal(record.Accumulation.Perform.Retrievable); //本行：累加：完成：应收
            currentPerformRetrievableTotal = currentPerformRetrievableTotal.AddNullableDecimal(currentPerformRecievable); //合计：累加：完成：应收
            var performStorageBalance = lastStorage.AddNullableDecimal(currentPerformStorage);  //本行：余额：完成：存货
            balancePerformStorageTotal = balancePerformStorageTotal.AddNullableDecimal(performStorageBalance);  //合计：余额：完成：存货
            var performRecievableBalance = lastRecievable.AddNullableDecimal(currentPerformRecievable); //本行：余额：完成：应收
            balancePerformRetrievableTotal = balancePerformRetrievableTotal.AddNullableDecimal(performRecievableBalance);  //合计：余额：完成：应收
            <tr>
                <td rowspan="2" class="align-middle" style="min-width:120px;">
                    @switch (Model.Hirarchy)
                    {
                        case GroupHirarchy.Organization:
                            @Html.ActionLink(record.NameHtml, "YearGroupReport", "Analysis",
                                new { GroupId = record.Id, year = Model.Year, month = Model.Month })
                            break;
                        case GroupHirarchy.Project:
                            <a asp-action="YearProjectReport" asp-controller="Analysis"
                               asp-all-route-data='new Dictionary<string,string>{
                                    { "id",  record.Id.ToString() },
                                    { "year", Model.Year.ToString() },
                                    { "month", Model.Month.ToString() },
                                    { "orgId", Model.GroupId.ToString() } }'>
                                @Html.Raw(record.NameHtml)
                                @Html.Raw(record.BadgeHtml)
                            </a>
                            break;
                        default:
                            break;
                    }
                </td>
                <!--上年结转-->
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", record.AnnualBalance.Incoming))</span></td>
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", record.AnnualBalance.Settlement))</span></td>
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", record.AnnualBalance.Tax))</span></td>
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", record.AnnualBalance.Retrievable))</span></td>
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", lastStorage))</span></td>
                <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", lastRecievable))</span></td>
                <!--本年度累加：计划-->
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Plan.Incoming))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Plan.Settlement))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Plan.Tax))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Plan.Retrievable))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPlanStorage))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPlanRecievable))</span></td>
                <!--当前余额：计划-->
                <td class="text-primary text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Incoming.AddNullableDecimal(record.Accumulation.Plan.Incoming)))</span>
                </td>
                <td class="text-primary text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Settlement.AddNullableDecimal(record.Accumulation.Plan.Settlement)))</span>
                </td>
                <td class="text-primary text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Tax.AddNullableDecimal(record.Accumulation.Plan.Tax)))</span>
                </td>
                <td class="text-primary text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Retrievable.AddNullableDecimal(record.Accumulation.Plan.Retrievable)))</span>
                </td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", planStorageBalance))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", planRecievableBalance))</span></td>
                <!--选择月份：计划-->
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Plan.Incoming))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Plan.Settlement))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Plan.Tax))</span></td>
                <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Plan.Retrievable))</span></td>
            </tr>
            <tr>
                <!--本年累加：完成-->
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Perform.Incoming))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Perform.Settlement))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Perform.Tax))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.Accumulation.Perform.Retrievable))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPerformStorage))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPerformRecievable))</span></td>
                <!--当前余额：完成-->
                <td class="text-success text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Incoming.AddNullableDecimal(record.Accumulation.Perform.Incoming)))</span>
                </td>
                <td class="text-success text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Settlement.AddNullableDecimal(record.Accumulation.Perform.Settlement)))</span>
                </td>
                <td class="text-success text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Tax.AddNullableDecimal(record.Accumulation.Perform.Tax)))</span>
                </td>
                <td class="text-success text-nowrap align-middle">
                    <span>@(string.Format("{0:N}", record.AnnualBalance.Retrievable.AddNullableDecimal(record.Accumulation.Perform.Retrievable)))</span>
                </td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", performStorageBalance))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", performRecievableBalance))</span></td>
                <!--选择月份：完成-->
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Perform.Incoming))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Perform.Settlement))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Perform.Tax))</span></td>
                <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", record.CurrentMonth.Perform.Retrievable))</span></td>
            </tr>
        }
        <tr class="bg-light">
            <td rowspan="2" class="align-middle">
                <strong>合计</strong>
            </td>
            <!--合计：上年结转-->
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", total.AnnualBalance.Incoming))</span></td>
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", total.AnnualBalance.Settlement))</span></td>
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", total.AnnualBalance.Tax))</span></td>
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", total.AnnualBalance.Retrievable))</span></td>
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", lastStorageTotal))</span></td>
            <td rowspan="2" class="text-nowrap align-middle"><span>@(string.Format("{0:N}", lastRetrievableTotal))</span></td>
            <!--合计：本年累加：计划-->
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Plan.Incoming))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Plan.Settlement))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Plan.Tax))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Plan.Retrievable))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPlanStorageTotal))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPlanRetrievableTotal))</span></td>
            <!--合计：当前余额：计划-->
            <td class="text-primary text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Incoming.AddNullableDecimal(total.Accumulation.Plan.Incoming)))</span>
            </td>
            <td class="text-primary text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Settlement.AddNullableDecimal(total.Accumulation.Plan.Settlement)))</span>
            </td>
            <td class="text-primary text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Tax.AddNullableDecimal(total.Accumulation.Plan.Tax)))</span>
            </td>
            <td class="text-primary text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Retrievable.AddNullableDecimal(total.Accumulation.Plan.Retrievable)))</span>
            </td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", balancePlanStorageTotal))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", balancePlanRetrievableTotal))</span></td>
            <!--合计：选择月份：计划-->
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Plan.Incoming))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Plan.Settlement))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Plan.Tax))</span></td>
            <td class="text-primary text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Plan.Retrievable))</span></td>
        </tr>
        <tr class="bg-light">
            <!--合计：本年累加：完成-->
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Perform.Incoming))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Perform.Settlement))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Perform.Tax))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.Accumulation.Perform.Retrievable))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPerformStorageTotal))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", currentPerformRetrievableTotal))</span></td>
            <!--合计：当前余额：完成-->
            <td class="text-success text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Incoming.AddNullableDecimal(total.Accumulation.Perform.Incoming)))</span></td>
            <td class="text-success text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Settlement.AddNullableDecimal(total.Accumulation.Perform.Settlement)))</span></td>
            <td class="text-success text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Tax.AddNullableDecimal(total.Accumulation.Perform.Tax)))</span></td>
            <td class="text-success text-nowrap align-middle">
                <span>@(string.Format("{0:N}", total.AnnualBalance.Retrievable.AddNullableDecimal(total.Accumulation.Perform.Retrievable)))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", balancePlanStorageTotal))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", balancePlanRetrievableTotal))</span></td>
            <!--合计：选择月份：完成-->
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Perform.Incoming))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Perform.Settlement))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Perform.Tax))</span></td>
            <td class="text-success text-nowrap align-middle"><span>@(string.Format("{0:N}", total.CurrentMonth.Perform.Retrievable))</span></td>
        </tr>
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("div.container").attr("class", "container-fluid");
        })
    </script>
}