@model TaskIndexViewModel

@{
    ViewData["Title"] = "首页";
}

<div class="card">
    <div class="card-header">
        <a class="float-right btn btn-sm btn-link m-0 p-0" asp-action="Help">如何使用?</a>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" asp-action="Index">任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Terms">条款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Dashboard">看板</a>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <form method="get" class="form-inline mb-2 ml-2 small">
            <label asp-for="OrganizationId" class="mr-2"></label>
            <select asp-for="OrganizationId" asp-items="ViewBag.OrgList" class="form-control form-control-sm mr-2">

            </select>
            <label asp-for="Year" class="mr-2"></label>
            <select asp-for="Year" class="form-control form-control-sm mr-2">
                @for(var i=2019; i<2030; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <label asp-for="Month" class="mr-2"></label>
            <select asp-for="Month" class="form-control form-control-sm mr-2">
                @for(var i=1; i <= 12; i++)
                {
                    <option value="@i">@string.Format("{0:00}月", i)</option>
                }
            </select>
            <button type="submit" class="btn btn-sm btn-primary">筛选</button>
        </form>
        <div class="card-deck">
            <div class="card bg-info">
                <div class="card-header text-center p-1 text-white">
                    计划进行
                </div>
                <div class="card-body p-1">
                    @if (Model.PlanTasks.Count() == 0)
                    {
                        <div class="alert alert-secondary text-warning">
                            当月无计划任务
                        </div>
                    }
                    else
                    {
                        @:<div class="card p-0 m-0 border-0">
                            @:<ul class="list-group list-group-flush">
                                var currentPlanProjectName = string.Empty;
                                foreach (var t in Model.PlanTasks.OrderBy(m => m.ProjectName))
                                {
                                    if (!t.ProjectName.Equals(currentPlanProjectName))
                                    {
                                        if (!string.IsNullOrEmpty(currentPlanProjectName))
                                        {
                                            @: </li>
                                        }
                                        currentPlanProjectName = t.ProjectName;
                                        @: <li class="list-group-item p-2">
                                            var projectClass = t.ProjectStatus == ProjectStatus.Stopped ? "alert-warning" : "alert-secondary";
                                            if (t.ProjectHasProblem)
                                            {
                                                projectClass = "alert-danger";
                                            }
                                            <div class="alert @(projectClass) p-2 mb-2 small">
                                                <strong class="mr-2">@(currentPlanProjectName)</strong>
                                                <div class="d-flex d-inline-flex d-sm-inline-flex small">
                                                    <div class="mr-2">计划（万元）</div>
                                                    <div class="mr-2">收入=@Html.DisplayFor(m => t.Incoming)</div>
                                                    <div class="mr-2">结算=@Html.DisplayFor(m => t.Settlement)</div>
                                                    <div>回款=@Html.DisplayFor(m => t.Retrieved)</div>
                                                </div>
                                            </div>
                                        }
                                        <span class="text-dark small">
                                            @Html.DisplayFor(m => t.TermsCategory)：
                                            @Html.DisplayFor(m => t.TermsContent)
                                        </span>
                                        <br />
                                        <p class="m-0 text-info small">
                                            计划任务：@Html.DisplayFor(m => t.TaskContent)
                                        </p>
                                        <hr class="my-1" />
                                    }
                                @: </li>
                            @:</ul>
                        @:</div>
                    }

                </div>
            </div>
            <div class="card bg-success">
                <div class="card-header text-center p-1 text-white">
                    实际发生
                </div>
                <div class="card-body p-1">
                    @if (Model.PerformTasks.Count() == 0)
                    {
                        <div class="alert alert-secondary text-warning">
                            当月未登记发生的结算和回款行动
                        </div>
                    }
                    else
                    {
                        @:<div class="card p-0 m-0 border-0">
                            @:<ul class="list-group list-group-flush">
                                var currentPerformProjectName = string.Empty;
                                foreach (var t in Model.PerformTasks.OrderBy(m => m.ProjectName))
                                {
                                    if (!t.ProjectName.Equals(currentPerformProjectName))
                                    {
                                        if (!string.IsNullOrEmpty(currentPerformProjectName))
                                        {
                                            @: </li>
                                        }
                                        currentPerformProjectName = t.ProjectName;
                                        @: <li class="list-group-item p-2">
                                        var projectClass = t.ProjectStatus == ProjectStatus.Stopped ? "alert-warning" : "alert-secondary";
                                        if (t.ProjectHasProblem)
                                        {
                                            projectClass = "alert-danger";
                                        }
                                        <div class="alert @(projectClass) p-2 mb-2 small">
                                            <strong class="mr-2">@(currentPerformProjectName)</strong>
                                            <div class="d-flex d-inline-flex d-sm-inline-flex small">
                                                <div class="mr-2">完成（万元）</div>
                                                <div class="mr-2">收入=@Html.DisplayFor(m => t.Incoming)</div>
                                                <div class="mr-2">结算=@Html.DisplayFor(m => t.Settlement)</div>
                                                <div>回款=@Html.DisplayFor(m => t.Retrieved)</div>
                                            </div>
                                        </div>
                                    }
                                    <span class="text-dark small">
                                        @Html.DisplayFor(m => t.TermsCategory)：
                                        @Html.DisplayFor(m => t.TermsContent)
                                    </span>
                                    <br />
                                    <p class="m-0 text-primary small">
                                        完成情况：@Html.DisplayFor(m => t.TaskContent)</p>
                                    <hr class="my-1" />
                                 }
                                @: </li>
                            @:</ul>
                        @:</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>